<section class="github-calendar">

    <div class="container">
        <div>
            <h1 class="text-center mt-5">Github's contribution calendar</h1>

            <form ngNativeValidate  class="mx-auto w-50 mt-5" #form="ngForm" (ngSubmit)="showCalendar()">
                <div class="form-row align-items-center">
                  <div class="col-auto">
                    <input ngModel name="username" required type="text" class="form-control mb-2" id="inlineFormInput" placeholder="Username">
                  </div>
                  <div class="col-auto">
                    <div class="input-group mb-2">
                      <input ngModel name="year" required type="number" class="form-control" id="inlineFormInputGroup" placeholder="Year">
                    </div>
                  </div>
                  <div class="col-auto">
                    <button type="submit" class="btn btn-primary mb-2">Show</button>
                  </div>
                </div>
              </form>
        </div>
        <div class="mt-5">
            <h3 class="text-center">Light Theme</h3>
            <div class="light mx-auto w-70 mt-3 mb-3 border py-2 graph-before-activity-overview">
              <b class="pl-4" #txtContribLight></b>
                <div #dataSvgLight
                    class=" mx-md-2 mx-3 d-flex flex-column flex-items-end flex-xl-items-center overflow-hidden pt-1 ">
                </div>
            </div>
            <h3 class="text-center">Dark Theme</h3>
            <div class="dark mx-auto w-70 mt-3 mb-3 border py-2 graph-before-activity-overview">
              <b class="pl-4" #txtContribDark></b>
                <div #dataSvgDark
                    class=" mx-md-2 mx-3 d-flex flex-column flex-items-end flex-xl-items-center overflow-hidden pt-1 ">
                </div>
            </div>
        </div>

    </div>

</section>