:root {
    --color-calendar-graph-day-border: #1b1f230f;
    --color-border-primary: #30363d;
}

.dark {
    background-color: #0d1117;
    --color-calendar-graph-day-bg: #161b22;
    --color-calendar-graph-day-L1-bg: #01311f;
    --color-calendar-graph-day-L2-bg: #034525;
    --color-calendar-graph-day-L3-bg: #0f6d31;
    --color-calendar-graph-day-L4-bg: #00c647;
    --color-text-primary: #c9d1d9;
    --color-text-secondary: #586069;
}
