:root {
    --color-calendar-graph-day-bg: #ebedf0;
    --color-calendar-graph-day-L1-bg: #9be9a8;
    --color-calendar-graph-day-L2-bg: #40c463;
    --color-calendar-graph-day-L3-bg: #30a14e;
    --color-calendar-graph-day-L4-bg: #216e39;

    --color-calendar-graph-day-border: #1b1f230f;

    
    --color-text-primary: #24292e;
}


rect.day{
    shape-rendering: geometricPrecision;
    outline: 1px solid var(--color-calendar-graph-day-border);
    outline-offset: -1px;
    rx: 2;
    ry: 2;
}

text.wday {
    font-size: 9px;
    fill: var(--color-text-primary);
}

text.month {
    font-size: 10px;
    fill: var(--color-text-primary);
}

.flex-items-end {
    align-items: flex-end !important;
}

.mx-3 {
    margin-right: 16px!important;
    margin-left: 6px!important;
}

@media (min-width: 1280px) {
    .flex-xl-items-center {
        align-items: center!important;
    }
}

@media (min-width: 768px) {
    .mx-md-2 {
        margin-right: 8px!important;
        margin-left: 8px!important;
    }
}